<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708850718029-543s1pqchsn1bdqqq20emtmtifie04rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708850718029-543s1pqchsn1bdqqq20emtmtifie04rm</string>
	<key>API_KEY</key>
	<string>AIzaSyBH_nhtdNGNRLSqYJ5-zkSNg_JDE1F2WYc</string>
	<key>GCM_SENDER_ID</key>
	<string>708850718029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hamboozy.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>unity-firebase-e16fa</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-firebase-e16fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708850718029:ios:c889e9ded8b94209ad5304</string>
	<key>DATABASE_URL</key>
	<string>https://unity-firebase-e16fa-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>